<html>

<head>
    <title>Virtual-Txti Welcome</title>
    @css 'site.css'
</head>

<body>

    <main class=container>
        <p>hi</p>
        <div class=row>
            <div class=col>
                <p>welcome to Virtual Txti<sup>[1]</sup></p>
            </div>
            <div class="col">
                <aside><sup>[1]</sup> Only called so as it's a <a href="https://www.vlang.io">V</a> implementation of
                    the <a href="https://www.txti.es">txti.es</a> site that i have no relation to.</aside>
            </div>
        </div>
        <p>Use common sense while posting, inappropriate content <small>(if you have to ask 'is this nsfw?' don't post
                it)</small> will be removed.</p>
        <form action="submit" method="POST" name="site-form" id="site-form">
            <div>
                <label for="Title">Title</label>
                <input type="text" name="Title" id="Title">
            </div>
            <div>
                <label for="Content">
                    Create new site
                </label>
                <textarea id=Content name=Content rows=20 cols=40></textarea>
            </div>
            <div>
                <label for="EditCode">Custom Edit Code (like a password)</label>
                <input name="EditCode" id="EditCode" type="password">
            </div>
            <input id=submit-content name=submit-content type="submit" value="create">
        </form>

        
    </main>
    <script>
        const form = document.getElementById('site-form');

        form.onsubmit = function (event) {
            event.preventDefault();
            let data = new FormData(form);
            data.append('submit-content', 'create');
            
            fetch(form.action, { method: 'POST', body: data }).then(response => response.json()).then(data => { sessionStorage.setItem('created.key', data.key); location.href="/created" });
        };
    </script>
</body>

</html>